<%- include('./partials/header'); %>
<%- include('./partials/menu',{formattedDateTime}); %>
<div class="parent w-full h-fit  bg-[#FAE8DC] flex  items-center justify-center">
    <div class="child max-md:w-full md:w-[80%] h-fit  bg-white shadow-md	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);">
     <div class="hero w-full  h-fit ">
       <div class="flex flex-col px-2 md:flex-row">
        <div class="left-content max-md:w-full    max-md:px-2 md:w-[75%] pl-[3vh] pt-[5vh] h-full ">
          <div class="topup"> 
            <h1 style="font-family: head1; letter-spacing: 2px;" class="text-[3.5vw] md:text-[3vw] text-[#025a6c] font-extrabold mb-3">PUBLICATION ETHICS</h1>
            <hr class="h-[2px] bg-zinc-400">
            <p style="font-weight: 500;" class="text-black xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] mt-6">
             <span class="text-[#025a6c] font-semibold text-[3.5vw] xl:text-[2.5vh] md:text-[2vw]"> World Journal of Advance Pharmaceutical Sciences (WJAPS)</span> is Pharmaceutical peer reviewed International Research Journal committed to upholding the highest standards of publication ethics. In order to provide our readers with a journal of highest quality we state the following principles of Publication Ethics and Malpractice Statement. All articles not in accordance with these standards will be removed from the publication if malpractice is discovered at any time even after the publication. WJAPS is checking all papers in a peer review process.
            </p>
          </div>
          <div class="mid-center">
            <div class="elements xl:mt-[3.5vh] mt-2">
              <h2 style="font-family: para; font-weight: 600;" class="xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] text-[#025a6c]">Duties of Editors</h2>
              <p style="font-weight: 500;" class="text-black mt-[2vh] xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] ">Editor must ensure a fair double-blind peer-review of the submitted articles for publication. They will strive to prevent any potential conflict of interests between the author and editorial and review personnel. Editors will also ensure that all the information related to submitted manuscripts is kept as confidential before publishing. Editor-in-Chief will coordinate the work of the editors.</p>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <h2 style="font-family: para; font-weight: 600;" class="xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] text-[#025a6c]">Duties of Reviewers</h2>
              <p style="font-weight: 500;" class="text-black mt-[2vh] xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] ">Editor must ensure a fair double-blind peer-review of the submitted articles for publication. They will strive to prevent any potential conflict of interests between the author and editorial and review personnel. Editors will also ensure that all the information related to submitted manuscripts is kept as confidential before publishing. Editor-in-Chief will coordinate the work of the editors.</p>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <h2 style="font-family: para; font-weight: 600;" class="xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] text-[#025a6c]">Duties of Authors</h2>
              <p style="font-weight: 500;" class="text-black mt-[2vh] xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] "><span style="font-family: para; font-weight: 600;" class="xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] text-[#025a6c]">Reporting standards:</span> Authors of reports of original research should present an accurate account of the work performed as well as an objective discussion of its significance. Underlying data should be represented accurately in the paper. A paper should contain sufficient detail and references to permit others to replicate the work. Fraudulent or knowingly inaccurate statements constitute unethical behavior and are unacceptable.</p>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <p style="font-weight: 500;" class="text-black mt-[2vh] xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] "><span style="font-family: para; font-weight: 600;" class="xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] text-[#025a6c]">Data Access and Retention:</span> Authors are asked to provide the raw data in connection with a paper for editorial review, and should be prepared to provide public access to such data, if practicable, and should in any event be prepared to retain such data for a reasonable time after publication.</p>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <p style="font-weight: 500;" class="text-black mt-[2vh] xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] "><span style="font-family: para; font-weight: 600;" class="xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] text-[#025a6c]">Originality and Plagiarism:</span> The authors should ensure that they have written entirely original works, and if the authors have used the work and/or words of others that this has been appropriately cited or quoted.</p>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <p style="font-weight: 500;" class="text-black mt-[2vh] xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] "><span style="font-family: para; font-weight: 600;" class="xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] text-[#025a6c]">Multiple, Redundant or Concurrent Publication:</span> An author should not in general publish manuscripts describing essentially the same research in more than one journal or primary publication. Submitting the same manuscript to more than one journal concurrently constitutes unethical publishing behavior and is unacceptable.</p>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <p style="font-weight: 500;" class="text-black mt-[2vh] xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] "><span style="font-family: para; font-weight: 600;" class="xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] text-[#025a6c]">Acknowledgement of Sources:</span> Proper acknowledgment of the work of others must always be given. Authors should cite publications that have been influential in determining the nature of the reported work.</p>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <p style="font-weight: 500;" class="text-black mt-[2vh] xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] "><span style="font-family: para; font-weight: 600;" class="xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] text-[#025a6c]">Authorship of the Paper:</span> Authorship should be limited to those who have made a significant contribution to the conception, design, execution, or interpretation of the reported study. All those who have made significant contributions should be listed as co-authors. Where there are others who have participated in certain substantive aspects of the research project, they should be acknowledged or listed as contributors. The corresponding author should ensure that all appropriate co-authors and no inappropriate co-authors are included on the paper, and that all co-authors have seen and approved the final version of the paper and have agreed to its submission for publication.</p>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <p style="font-weight: 500;" class="text-black mt-[2vh] xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] "><span style="font-family: para; font-weight: 600;" class="xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] text-[#025a6c]">Hazards and Human or Animal Subjects:</span>If the work involves chemicals, procedures or equipment that have any unusual hazards inherent in their use, the author must clearly identify these in the manuscript. If author involve human or animal in the study, he must submit ethical committee permission details to the editor along with manuscript.</p>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <p style="font-weight: 500;" class="text-black mt-[2vh] xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] "><span style="font-family: para; font-weight: 600;" class="xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] text-[#025a6c]">Disclosure and Conflicts of Interest:</span> All authors should disclose in their manuscript any financial or other substantive conflict of interest that might be construed to influence the results or interpretation of their manuscript. All sources of financial support for the project should be disclosed.</p>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <p style="font-weight: 500;" class="text-black mt-[2vh] xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] "><span class="">Fundamental errors in published works:</span> When an author discovers a significant error or inaccuracy in his/her own published work, it is the authors obligation to promptly notify the journal editor or publisher and cooperate with the editor to retract or correct the paper.</p>
            </div>
          </div>
    </div>
      <%- include('./partials/sidebar',{news});%>
       </div>
       <div class="flex flex-wrap p-3"> 
  
  
      <div class="w-full transition-transform duration-0.2 ease hover:scale-[1.03] cursor-pointer sm:w-1/2 md:w-1/3 flex flex-col p-3">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
          <div class="bg-cover xl:h-48 max-xl:py-5 flex items-center justify-center bg-[#058ECB]">
            <h6 class="xl:text-[2.5vw] md:text-[2vw] text-[6vw] capitalize text-center text-white font-bold">Call for papers</h6>
          </div>
          <div class="p-4 flex-1 flex flex-col">
            <h3 class="mb-4 xl:text-2xl md:text-[1.7vw] text-[5vw] text-center font-bold">24x7 working</h3>

            <a href="/manuscript-submission" class="bg-[#058ECB] p-2 xl:text-2xl md:text-[1.7vw] text-[3vw] hover:text-red uppercase no-underline tracking-wide mx-auto text-white font-bold uppercase">submit today</a>
          </div>
        </div>  
      </div>
      
      <div class="w-full  transition-transform duration-0.2 ease hover:scale-[1.03] cursor-pointer sm:w-1/2 md:w-1/3 flex flex-col p-3">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
          <div class="bg-cover xl:h-48 max-xl:py-5 flex items-center justify-center bg-[#82B26C]">
            <h6 class="xl:text-[2.5vw] md:text-[2vw] text-[6vw] capitalize text-center text-white font-bold">Notification of acceptance</h6>
          </div>
          <div class="p-4 flex-1 flex flex-col">
            <h3 class="mb-4 xl:text-2xl md:text-[1.7vw] text-[5vw] text-center font-bold">Within 24 hours</h3>

            <a href="/manuscript-submission" class="bg-[#82B26C] p-2 xl:text-2xl md:text-[1.7vw] text-[3vw] hover:text-red uppercase no-underline tracking-wide mx-auto text-white font-bold uppercase">submit today</a>
          </div>
        </div>  
      </div>
      <div class="w-full  transition-transform duration-0.2 ease hover:scale-[1.03] cursor-pointer sm:w-1/2 md:w-1/3 flex flex-col p-3">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
          <div class="bg-cover xl:h-48 max-xl:py-5 flex items-center justify-center bg-[#058ECB]">
            <h6 class="xl:text-[2.5vw] md:text-[2vw] text-[6vw] capitalize text-center text-white font-bold">E-certificates</h6>
          </div>
          <div class="p-4 flex-1 flex flex-col">
            <h3 class="mb-4 xl:text-2xl md:text-[1.7vw] text-[5vw] text-center font-bold">Within 04 hours</h3>

            <a href="/manuscript-submission" class="bg-[#058ECB] p-2 xl:text-2xl md:text-[1.7vw] text-[3vw] hover:text-red uppercase no-underline tracking-wide mx-auto text-white font-bold uppercase">submit today</a>
          </div>
        </div>  
      </div>
      
     
        
    </div>
    <div class="relative max-md:hidden w-[95%] m-auto md:h-[10vw] max-md:h-[15vh] my-3 items-center flex border-[1.3px] border-black">
      <%- include('./partials/scroller',{indexings}); %>
    </div>
       <div class="relative md:hidden w-[85%] m-auto md:h-[20vh] max-md:h-[15vh] my-3 items-center flex border-[1.3px] border-black">
        <%- include('./partials/resscroller',{indexings}); %>
      </div>
   
     </div>
    
       <%- include('./partials/footerfrontend',{visit}); %>
    </div>
   </div>
<%- include('./partials/footer'); %>
