<%- include('./partials/header'); %>
<%- include('./partials/menu',{formattedDateTime}); %>
<div class="parent w-full h-fit  bg-[#FAE8DC] flex  items-center justify-center">
    <div class="child max-md:w-full md:w-[80%] h-fit  bg-white shadow-md	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);">
     <div class="hero w-full  h-fit ">
       <div class="flex flex-col px-2 md:flex-row">
        <div class="left-content max-md:w-full    max-md:px-2 md:w-[75%] pl-[3vh] pt-[5vh] h-full ">
            <div class="topup"> 
                <h1 style="font-family: head1; letter-spacing: 2px;" class="text-[3.5vw] md:text-[3vw] text-[#025a6c] font-extrabold mb-3 uppercase">Review procedure</h1>
                <hr class="h-[2px] bg-zinc-400">
                <p style="font-weight: 500;" class="text-black text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] mt-6">
                 <span class="text-[#025a6c] font-semibold text-[3.5vw] md:text-[2vw] xl:text-[2.5vh]"> World Journal of Advance Pharmaceutical Sciences (WJAPS)</span> Peer review process ensures that the quality Journal publishes good science which is of benefit to whole scientific community. Peer review is an integral part of scientific publication that confirms the authenticity of the science reported.</p>
              </div>
              <div class="mid-center">
                <div class="elements xl:mt-[3.5vh] mt-2">
                  <h2 style="font-family: para; font-weight: 600;" class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] text-[#025a6c]">WJAPS Policy on Peer Review Process:-</h2>
                  <ul class="flex flex-col gap-4 mt-2">
                      <li class="flex text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh]">
                          <img class="mt-[4px] mr-2 lg:w-[2vh] lg:h-[2vh] h-[1vh] w-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                          Manuscript is first handled by WJAPS journal management team (team consists of experts on language and copyediting). During this process manuscript is checked for plagiarism and grammatical errors. Use of softwares to detect plagiarized content and grammatical errors in manuscript ensures more accuracy in this process.
                      </li>
                      <li class="flex text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] ">
                          <img class="mt-[4px] mr-2 lg:w-[2vh] lg:h-[2vh] h-[1vh] w-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                          After successful passing this step, manuscript assigns with unique code and decision regarding primary acceptance is communicated to corresponding author. Coded manuscript then forwarded for blindfolded review process.
                      </li>
                      <li class="flex text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh]">
                          <img class="mt-[4px] mr-2 lg:w-[2vh] lg:h-[2vh] h-[1vh] w-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                          Reviewers are given evaluation criteria and asked to provide comments to the author if any and may also provide feedback confidentially to the Editor office.
      
                      </li>
                      <li class="flex text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] ">
                          <img class=" mt-[4px] mr-2 lg:w-[2vh] lg:h-[2vh] h-[1vh] w-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                          Reviewers evaluate a manuscript for Originality and significance of contribution, Satisfactoriness of methodology, analysis, and comprehension, Interest to research community and International relevance.
                      </li>
                      <li class="flex text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh]">
                          <img class="mt-[4px] mr-2 lg:w-[2vh] lg:h-[2vh] h-[1vh] w-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                          Once all reviews have been received, the Editor(s)-in-Chief, make reviews available to the author(s) and the comments to the author(s) of the manuscript.
                      </li>
                      <li class="flex text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh]">
                          <img class="mt-[4px] mr-2 lg:w-[2vh] lg:h-[2vh] h-[1vh] w-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                          If the manuscript is accepted then handled by journal management team for possible copyediting. Copyright form, ethical clearance letter, letter from institutional review board, informed consent form is scrutinized by journal management team for its authenticity.
                      </li>
                      <li class="flex text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh]">
                          <img class="mt-[4px] mr-2 lg:w-[2vh] lg:h-[2vh] h-[1vh] w-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                          Authors are then communicated about the publication of corrected manuscript in upcoming issue of WJAPS and possible date of publication.
                      </li>
                      <li class="flex text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh]">
                          <img class="mt-[4px] mr-2 lg:w-[2vh] lg:h-[2vh] h-[1vh] w-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                          This process may take few days depending upon reviewers’ response on manuscript evaluation.
                      </li>
                  </ul>
                </div>
              </div>
           
     </div>
      <%- include('./partials/sidebar',{news});%>
       </div>
       <div class="flex flex-wrap p-3"> 
  
  
      <div class="w-full transition-transform duration-0.2 ease hover:scale-[1.03] cursor-pointer sm:w-1/2 md:w-1/3 flex flex-col p-3">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
          <div class="bg-cover xl:h-48 max-xl:py-5 flex items-center justify-center bg-[#058ECB]">
            <h6 class="xl:text-[2.5vw] md:text-[2vw] text-[6vw] capitalize text-center text-white font-bold">Call for papers</h6>
          </div>
          <div class="p-4 flex-1 flex flex-col">
            <h3 class="mb-4 xl:text-2xl md:text-[1.7vw] text-[5vw] text-center font-bold">24x7 working</h3>

            <a href="/manuscript-submission" class="bg-[#058ECB] p-2 xl:text-2xl md:text-[1.7vw] text-[3vw] hover:text-red uppercase no-underline tracking-wide mx-auto text-white font-bold uppercase">submit today</a>
          </div>
        </div>  
      </div>
      
      <div class="w-full  transition-transform duration-0.2 ease hover:scale-[1.03] cursor-pointer sm:w-1/2 md:w-1/3 flex flex-col p-3">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
          <div class="bg-cover xl:h-48 max-xl:py-5 flex items-center justify-center bg-[#82B26C]">
            <h6 class="xl:text-[2.5vw] md:text-[2vw] text-[6vw] capitalize text-center text-white font-bold">Notification of acceptance</h6>
          </div>
          <div class="p-4 flex-1 flex flex-col">
            <h3 class="mb-4 xl:text-2xl md:text-[1.7vw] text-[5vw] text-center font-bold">Within 24 hours</h3>

            <a href="/manuscript-submission" class="bg-[#82B26C] p-2 xl:text-2xl md:text-[1.7vw] text-[3vw] hover:text-red uppercase no-underline tracking-wide mx-auto text-white font-bold uppercase">submit today</a>
          </div>
        </div>  
      </div>
      <div class="w-full  transition-transform duration-0.2 ease hover:scale-[1.03] cursor-pointer sm:w-1/2 md:w-1/3 flex flex-col p-3">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
          <div class="bg-cover xl:h-48 max-xl:py-5 flex items-center justify-center bg-[#058ECB]">
            <h6 class="xl:text-[2.5vw] md:text-[2vw] text-[6vw] capitalize text-center text-white font-bold">E-certificates</h6>
          </div>
          <div class="p-4 flex-1 flex flex-col">
            <h3 class="mb-4 xl:text-2xl md:text-[1.7vw] text-[5vw] text-center font-bold">Within 04 hours</h3>

            <a href="/manuscript-submission" class="bg-[#058ECB] p-2 xl:text-2xl md:text-[1.7vw] text-[3vw] hover:text-red uppercase no-underline tracking-wide mx-auto text-white font-bold uppercase">submit today</a>
          </div>
        </div>  
      </div>
      
     
        
    </div>
    <div class="relative max-md:hidden w-[95%] m-auto md:h-[10vw] max-md:h-[15vh] my-3 items-center flex border-[1.3px] border-black">
      <%- include('./partials/scroller',{indexings}); %>
    </div>
       <div class="relative md:hidden w-[85%] m-auto md:h-[20vh] max-md:h-[15vh] my-3 items-center flex border-[1.3px] border-black">
        <%- include('./partials/resscroller',{indexings}); %>
      </div>
   
     </div>
    
       <%- include('./partials/footerfrontend',{visit}); %>
    </div>
   </div>
<%- include('./partials/footer'); %>
