<%- include('./partials/header'); %>
<%- include('./partials/menu',{formattedDateTime}); %>
<div class="parent w-full h-fit  bg-[#FAE8DC] flex  items-center justify-center">
    <div class="child max-md:w-full md:w-[80%] h-fit  bg-white shadow-md	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);">
     <div class="hero w-full  h-fit ">
       <div class="flex flex-col px-2 md:flex-row">
        <div class="left-content max-md:w-full    max-md:px-2 md:w-[75%] pl-[3vh] pt-[5vh] h-full ">
          <div class="topup"> 
            <h1 style="font-family: head1; letter-spacing: 2px;" class="text-[3.5vw] md:text-[3vw] text-[#025a6c] font-extrabold mb-3">AUTHORS INSTRUCTIONS</h1>
            <hr class="h-[2px] bg-zinc-400">
            <p style="font-weight: 500;" class="text-black text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] mt-6">
             <span class="text-[#025a6c] font-semibold text-[3.5vw] md:text-[2vw] xl:text-[2.5vh]"> World Journal of Advance Pharmaceutical Sciences (WJAPS)</span> is Pharmaceutical peer reviewed International Research Journal committed to upholding the highest standards of publication ethics. In order to provide our readers with a journal of highest quality we state the following principles of Publication Ethics and Malpractice Statement. All articles not in accordance with these standards will be removed from the publication if malpractice is discovered at any time even after the publication. WJAPS is checking all papers in a peer review process.
            </p>
          </div>
          <div class="keys">
              <div class="elements xl:mt-[3.5vh] mt-2">
                <h2 style="font-family: para; font-weight: 550;" class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] text-black"><span class="text-[#025a6c] font-bold">World Journal of Advance Pharmaceutical Sciences (WJAPS) </span>publishes the following manuscript types:</h2>
                <ul class="flex flex-col gap-4 mt-2">
                    <li class="flex text-[2.9vw] md:text-[1.3vw] xl:text-[2vh] xl:text-[2vh] text-[2.9vw] md:text-[1.3vw]">
                        <img class="mt-[4px] mr-2 lg:w-[2vh] lg:h-[2vh] h-[1vh] w-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                        Original Research Articles
                    </li>
                    <li class="flex text-[2.9vw] md:text-[1.3vw] xl:text-[2vh] xl:text-[2vh] text-[2.9vw] md:text-[1.3vw] ">
                        <img class="mt-[4px] mr-2 lg:w-[2vh] lg:h-[2vh] h-[1vh] w-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                        Review Articles
                    </li>
                    <li class="flex text-[2.9vw] md:text-[1.3vw] xl:text-[2vh] xl:text-[2vh] text-[2.9vw] md:text-[1.3vw]">
                        <img class="mt-[4px] mr-2 lg:w-[2vh] lg:h-[2vh] h-[1vh] w-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                        Short Communications
                    </li>
                    <li class="flex text-[2.9vw] md:text-[1.3vw] xl:text-[2vh] xl:text-[2vh] text-[2.9vw] md:text-[1.3vw] ">
                        <img class=" mt-[4px] mr-2 lg:w-[2vh] lg:h-[2vh] h-[1vh] w-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                        Case Study
                    </li>
                   
                </ul>
              </div>
            </div>
          <div class="middle mt-8">
              <h3 class="text-[#025a6c] sm:text-[2.8vw] xl:text-[3vh] font-medium">SUBMISSION OF THE MANUSCRIPT</h3>
              <p style="font-weight: 500;" class="text-black mt-[2vh] text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh]">All submissions must be in the English and should be submitted by the online submission system. Each manuscript will be provided with a manuscript ID and all correspondence is done through e-mail. Please always refer to the manuscript ID for any further enquiries. Authors are invited to suggest up to three potential reviewers, together with their contact details (e-mail addresses are essential). In case of any problem through the online submission, submit manuscripts to our mail: <span class="font-extrabold text-[#025a6c]">editor@wjaps.com  or wjapsjournal@gmail.com</span> along with a covering letter preferably by the corresponding author.</p>
              <div class="structure">
                  <h1 class="xl:text-[6vh] max-md:text-[3.5vh] text-[#025a6c] font-extrabold">MANUSCRIPT STRUCTURE</h1>
                   <hr class="h-[2px] bg-zinc-400">
                   <p style="font-weight: 500;" class="text-black mt-[2vh] text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh]"><span class="text-[#025a6c] font-semibold">RESEARCH ARTICLE FORMAT </span> The preferred format of all manuscripts are in MS office (2003 or above). Manuscript should be concisely typewritten in 1.5 spaces in A4 sized sheets. The pages shall be numbers consequently. Only on one side, with a 1″ margin on all sides. The manuscript shall be prepared in Times New Roman using a font size of 12 and title shall be font size of 14, bold space capitals. All section titles in the manuscript shall be in font size 12, bold face capitals and subtitles in each section shall be in font size 12, bold face lower case. Illustrations (Figures & Tables) must be inserted at appropriate place in the article. Standard International Units should be used throughout the text. Pages should be numbered properly. There shall not be decorative borders anywhere in the text including the title page. The manuscript should be starting with the title page and the text should be arranged in the following order:</p>
                   <div class="keys">
                      <div class="elements xl:mt-[3.5vh] mt-2">
                        <ul class="flex flex-col gap-2 mt-2">
                            <li class="xl:t text-[2.9vw] md:text-[1.3vw] xl:text-[2vh] text-[2.9vw] md:text-[1.3vw] flex">
                                <img class="mt-[4px] mr-2 lg:w-[2vh] lg:h-[2vh] h-[1vh] w-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                                Title Page
                            </li>
                            <li class="xl:t text-[2.9vw] md:text-[1.3vw] xl:text-[2vh] text-[2.9vw] md:text-[1.3vw] flex ">
                                <img class="mt-[4px] mr-2 lg:w-[2vh] lg:h-[2vh] h-[1vh] w-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                                Abstract
                            </li>
                            <li class="xl:t text-[2.9vw] md:text-[1.3vw] xl:text-[2vh] text-[2.9vw] md:text-[1.3vw] flex">
                                <img class="mt-[4px] mr-2 lg:w-[2vh] lg:h-[2vh] h-[1vh] w-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                                Keywords
                            </li>
                            <li class="xl:t text-[2.9vw] md:text-[1.3vw] xl:text-[2vh] text-[2.9vw] md:text-[1.3vw] flex ">
                                <img class=" mt-[4px] mr-2 lg:w-[2vh] lg:h-[2vh] h-[1vh] w-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                                Introduction
                            </li>
                            <li class="xl:t text-[2.9vw] md:text-[1.3vw] xl:text-[2vh] text-[2.9vw] md:text-[1.3vw] flex ">
                              <img class=" mt-[4px] mr-2 lg:w-[2vh] lg:h-[2vh] h-[1vh] w-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                              Materials and Methods
                          </li>
                          <li class="xl:t text-[2.9vw] md:text-[1.3vw] xl:text-[2vh] text-[2.9vw] md:text-[1.3vw] flex ">
                              <img class=" mt-[4px] mr-2 lg:w-[2vh] lg:h-[2vh] h-[1vh] w-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                              Results and Discussion
                          </li>
                          <li class="xl:t text-[2.9vw] md:text-[1.3vw] xl:text-[2vh] text-[2.9vw] md:text-[1.3vw] flex ">
                              <img class=" mt-[4px] mr-2 lg:w-[2vh] lg:h-[2vh] h-[1vh] w-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                              Conclusion
                          </li>
                          <li class="xl:t text-[2.9vw] md:text-[1.3vw] xl:text-[2vh] text-[2.9vw] md:text-[1.3vw] flex ">
                              <img class=" mt-[4px] mr-2 lg:w-[2vh] lg:h-[2vh] h-[1vh] w-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                              Acknowledgements
                          </li>
                          <li class="xl:t text-[2.9vw] md:text-[1.3vw] xl:text-[2vh] text-[2.9vw] md:text-[1.3vw] flex ">
                              <img class=" mt-[4px] mr-2 lg:w-[2vh] lg:h-[2vh] h-[1vh] w-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                              References
                          </li>
                        </ul>
                      </div>
                    </div>
              </div>
          </div>
          <div class="mid-center">
            <div class="elements xl:mt-[3.5vh] mt-2">
              <h2 style="font-family: para; font-weight: 600;" class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] text-[#025a6c]">Title Page</h2>
              <p style="font-weight: 500;" class="text-black mt-[2vh] text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] ">The title should be as short as possible on the first page and provide precise information about the contents. The title should be followed by full names of author (s), affiliations of author (s) and institutional addresses.</p>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <h2 style="font-family: para; font-weight: 600;" class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] text-[#025a6c]">Authors and Co-Authors Details and Their Affiliations</h2>
              <p style="font-weight: 500;" class="text-black mt-[2vh] text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] ">Each author must provide their full name including their forenames and surname. The Corresponding Author of the manuscript must be marked with an asterisk*, and should be listed first. In addition the corresponding author must include Telephone and E-mail address at the bottom left corner of the title page. If any of the co-authors are from different organizations, their addresses too should be mentioned and indicated using numbers after their names. Maximum 6authors should be allowed.</p>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <h2 style="font-family: para; font-weight: 600;" class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] text-[#025a6c]">Abstract</h2>
              <p style="font-weight: 500;" class="text-black mt-[2vh] text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] ">Provide on a separate page an abstract of not more than 150-250 words. A concise and factual abstract is required. The Abstract should be informative and completely self-explanatory, briefly present the topic, state the scope of the experiments, indicate significant data, and point out major findings and conclusions. An abstract is often presented separately from the article, so it must be able to stand alone. For this reason, standard nomenclature should be used and abbreviations and references should be avoided.</p>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <h2 style="font-family: para; font-weight: 600;" class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] text-[#025a6c]">Keywords</h2>
              <p style="font-weight: 500;" class="text-black mt-[2vh] text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] ">Provide three to six appropriate keywords after the abstract.</p>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <h2 style="font-family: para; font-weight: 600;" class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] text-[#025a6c]">Materials and Methods</h2>
              <p style="font-weight: 500;" class="text-black mt-[2vh] text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] ">It should be complete enough to allow experiments to be reproduced. All the procedures should be described in detail, previously published procedures should be cited, and important modifications of published procedures should be mentioned briefly. Capitalize trade names and include the manufacturer's name and address. Subheadings should be used. Methods in general use need not be described in detail.</p>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <h2 style="font-family: para; font-weight: 600;" class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] text-[#025a6c]">Results</h2>
              <p style="font-weight: 500;" class="text-black mt-[2vh] text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] ">Results and their significance should be presented clearly and concisely, preferably in the form of graphs and tables which should be self explanatory.</p>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <h2 style="font-family: para; font-weight: 600;" class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] text-[#025a6c]">Discussion</h2>
              <p style="font-weight: 500;" class="text-black mt-[2vh] text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] ">It should contain a critical review of the results in the light of relevant literature. Results and Discussion may be combined.</p>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <h2 style="font-family: para; font-weight: 600;" class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] text-[#025a6c]">Conclusions</h2>
              <p style="font-weight: 500;" class="text-black mt-[2vh] text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] ">This should state clearly the main conclusions of the research and give a clear explanation of their importance and relevance. Summary illustrations may be included.</p>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <h2 style="font-family: para; font-weight: 600;" class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] text-[#025a6c]">Acknowledgement</h2>
              <p style="font-weight: 500;" class="text-black mt-[2vh] text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] ">Acknowledgements should be placed in a separate section after the conclusion. If external funding has been obtained for the study, then that should be mentioned under a separate header “Funding”, after the acknowledgements.</p>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <h2 style="font-family: para; font-weight: 600;" class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] text-[#025a6c]">References</h2>
              <p style="font-weight: 500;" class="text-black mt-[2vh] text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] ">The authors are responsible for the accuracy of the bibliographic information. It must be numbered consecutively in the order that they are cited in the text and designated by superscript with square brackets after the punctuation marks. ([X])A list should be included on separate 1.5spaced pages at the end of the text. For the proper abbreviations of the journal titles, refer to “Chemical Abstracts”. The style and punctuation of the references should confirm to the following examples:</p>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <h2 style="font-family: para; font-weight: 600;" class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] text-[#025a6c]">Journal references</h2>
              <div class="xl:mt-[3.5vh] mt-2">
                  <ul class="flex flex-col gap-2 mt-2">
                      <li class="flex text-[2.9vw] md:text-[1.3vw] xl:text-[2vh] ">
                        <img class=" mt-[4px] mr-2 lg:w-[2vh] lg:h-[2vh] h-[1vh] w-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                        Cantarelli MA, Pellerano RG, Marchevsky EJ, Camina JM. (Title of article).Anal Sci, 2011; 27(1): 73-8
                    </li>
                    <li class="flex text-[2.9vw] md:text-[1.3vw] xl:text-[2vh] ">
                        <img class=" mt-[4px] mr-2 lg:w-[2vh] lg:h-[2vh] h-[1vh] w-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                        Sather BC, Forbes JJ, Starck DJ, Rovers JP.(Title of article). J Am Pharm Assoc, 2007; 47(1): 82-5.
                    </li>
                  </ul>
              </div>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <h2 style="font-family: para; font-weight: 600;" class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] text-[#025a6c]">Books</h2>
              <div class="xl:mt-[3.5vh] mt-2">
                  <ul class="flex flex-col gap-2 mt-2">
                      <li class="flex text-[2.9vw] md:text-[1.3vw] xl:text-[2vh] ">
                        <img class=" mt-[4px] mr-2 lg:w-[2vh] lg:h-[2vh] h-[1vh] w-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                        Meltzer PS, Kallioniemi A, Trent JM. Chromosome alterations in human solid tumors. In: Vogelstein B and Kinzler KW (eds.). The Genetic Basis of Human Cancer, New York; McGraw-Hill: 2002, pp. 93-113.
                    </li>
                    <li class="flex text-[2.9vw] md:text-[1.3vw] xl:text-[2vh] ">
                        <img class=" mt-[4px] mr-2 lg:w-[2vh] lg:h-[2vh] h-[1vh] w-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                        Bard AJ, Faulkner LR. Electrochemical Methods: Fundamentals and Applications. 2nd ed., New York; John Wiley and Sons: 2001.
                    </li>
                  </ul>
              </div>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <h2 style="font-family: para; font-weight: 600;" class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] text-[#025a6c]">Patents</h2>
              <div class="xl:mt-[3.5vh] mt-2">
                  <ul class="flex flex-col gap-2 mt-2">
                      <li class="flex text-[2.9vw] md:text-[1.3vw] xl:text-[2vh] ">
                        <img class=" mt-[4px] mr-2 lg:w-[2vh] lg:h-[2vh] h-[1vh] w-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                        Aviv H, Friedman D, Bar-Ilan A, Vered M. US Patent, US 5496811, 1996.
                    </li>
                  </ul>
              </div>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <h2 style="font-family: para; font-weight: 600;" class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] text-[#025a6c]">Websites</h2>
              <div class="xl:mt-[3.5vh] mt-2">
                  <ul class="flex flex-col gap-2 mt-2">
                      <li class="flex text-[2.9vw] md:text-[1.3vw] xl:text-[2vh] ">
                        <img class=" mt-[4px] mr-2 lg:w-[2vh] lg:h-[2vh] h-[1vh] w-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                        <p>
                        Database of Natural Matrix Reference Materials, Compilation prepared by International Atomic Energy Agency (IAEA), <br class="lg:hidden"> <a class="text-blue-500 max-md:text-[1.5vh]" href="">http://www.iaea.org/programmes<br class="md:hidden">/nahunet/e4/nmrm/browse.htm/</a>
                        </p>
                    </li>
                    <li class="flex text-[2.9vw] md:text-[1.3vw] xl:text-[2vh] ">
                      <img class=" mt-[4px] mr-2 lg:w-[2vh] lg:h-[2vh] h-[1vh] w-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                      <p>
                      For other types of citation, please see “Uniform Requirement for Manuscripts Submitted to Biomedical Journals: Sample References” at  <br class="lg:hidden"> <a class="text-blue-500 max-md:text-[1.5vh]" href="">www.nlm.nih.gov/bsd/<br class="md:hidden">uniform_requirements.html</a>
                      </p>
                  </li>
                  </ul>
              </div>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <h2 style="font-family: para; font-weight: 600;" class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] text-[#025a6c]">Tables</h2>
              <p style="font-weight: 500;" class="text-black mt-[2vh] text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] ">These should be numbered with Arabic numerals. Each table should be typed using a table format (i.e., each variable must be typed into a separate cell in the table). The title should be typed at the top of the table in the sentence case format, i.e., only the first name should be in capital letters; as appropriate. Any footnote should be typed at the bottom of the table in italic.</p>
              <div class="table  w-[100%] border-[1.2px] border-zinc-500 md:h-[12vw] mt-[2vh] flex flex-col gap-[5vh]">
                  <div class="row border-b-[1.2px] border-zinc-500 h-[5vw] md:h-[3vw] items-center flex justify-between px-5 ">
                      <div class="left md:text-[1.3vw] text-[3vw]">Sr.No.</div>
                      <div class="right flex items-center gap-[5vh] justify-between w-[80%]">
                          <h2 class="md:text-[1.3vw] text-[3vw]">Title</h2>
                          <h2 class="md:text-[1.3vw] text-[3vw]">Title</h2>
                          <h2 class="md:text-[1.3vw] text-[3vw]">Title</h2>
                      </div>
                  </div>
                  <div class="row border-b-[1.2px] border-zinc-500 h-[5vw] md:h-[3vw] items-center flex justify-between px-5">
                      <div class="left md:text-[1.3vw] text-[3vw]">1</div>
                      <div class="right flex items-center gap-[5vh] justify-between w-[80%]">
                          <h2 class="md:text-[1.3vw] text-[3vw]">-</h2>
                          <h2 class="md:text-[1.3vw] text-[3vw]">-</h2>
                          <h2 class="md:text-[1.3vw] text-[3vw]">-</h2>
                      </div>
                  </div>
                  <div class="row border-zinc-500 h-[5vw] md:h-[3vw] items-center flex justify-between px-5">
                      <div class="left md:text-[1.3vw] text-[3vw]">1</div>
                      <div class="right flex items-center gap-[5vh] justify-between w-[80%]">
                          <h2 class="md:text-[1.3vw] text-[3vw]">-</h2>
                          <h2 class="md:text-[1.3vw] text-[3vw]">-</h2>
                          <h2 class="md:text-[1.3vw] text-[3vw]">-</h2>
                      </div>
                  </div>
              </div>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <h2 style="font-family: para; font-weight: 600;" class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] text-[#025a6c]">Illustrations and Figures</h2>
              <p style="font-weight: 500;" class="text-black mt-[2vh] text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] ">Figures must be numbered independently of tables, multimedia, and 3D models and cited as the relevant point in the manuscript text, e.g. "Fig. 1", "Fig. 2", etc. All figures including photographs should be numbered consecutively in Arabic numerals in the order of their appearance in the text and bear a brief title in lower case bold face letters below the figure. Do not duplicate data by presenting it both in the text and in a figure. For any figure directly extracted from previously published materials, you must have written permission from the publisher of that figure for reprint use. A copy of that permission release must be submitted with your article.
              </p>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <h2 style="font-family: para; font-weight: 600;" class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] text-[#025a6c]">REVIEW ARTICLES</h2>
              <p style="font-weight: 500;" class="text-black mt-[2vh] text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] ">Review articles should not be more than 25 pages and contain comprehensive coverage of relevant literature. Review articles should preferably be written by scientists who have in-depth knowledge of the topic. All format requirements are similar to those applicable to Research papers. Review articles need not to be divided into sections such as Materials and methods, and Results and discussion, but should definitely have an abstract and introduction.</p>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <h2 style="font-family: para; font-weight: 600;" class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] text-[#025a6c]">SHORT COMMUNICATIONS</h2>
              <p style="font-weight: 500;" class="text-black mt-[2vh] text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] ">The research and technical communications section of this journal (maximum 3,000 words) is open to interesting results worthy of publication without requiring extensive introduction and discussion. This section should be organized as follows: Abstract, Introduction, Materials and methods, Results and discussion (combined). Not more than 10 references should be provided. Tables, figures and references are to be arranged in the same way as for research papers. Brevity of presentation is essential for this section.</p>
              <p style="font-weight: 500;" class="text-black mt-[2vh] text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] ">Note: Figures and tables should be included at appropriate place in the manuscript</p>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <h2 style="font-family: para; font-weight: 600;" class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] text-[#025a6c]">Chemical Terminology:</h2>
              <p style="font-weight: 500;" class="text-black mt-[2vh] text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] ">The chemical nomenclature used must be in accordance with that used in the Chemical Abstracts .</p>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <h2 style="font-family: para; font-weight: 600;" class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] text-[#025a6c]">Biological Nomenclature:</h2>
              <p style="font-weight: 500;" class="text-black mt-[2vh] text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] ">Names of plants, animals and bacteria should be in italics.</p>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <h2 style="font-family: para; font-weight: 600;" class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] text-[#025a6c]">Enzyme Nomenclature:</h2>
              <p style="font-weight: 500;" class="text-black mt-[2vh] text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] ">The trivial names recommended by the IUPAC-IUB Commission should be used. When the enzyme is the main subject of a paper, its code number and systematic name should be stated in its first citation in the paper.</p>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <h2 style="font-family: para; font-weight: 600;" class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] text-[#025a6c]">Symbols and Abbreviations:</h2>
              <p style="font-weight: 500;" class="text-black mt-[2vh] text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] ">Use only standard abbreviations. The use of non-standard abbreviations can be extremely confusing to readers. Avoid abbreviations in the title. The full term for which an abbreviation stands should precede its first use in the text unless it is a standard unit of measurement.</p>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <h2 style="font-family: para; font-weight: 600;" class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] text-[#025a6c]">ETHICAL MATTERS</h2>
              <p style="font-weight: 500;" class="text-black mt-[2vh] text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] ">Authors involving in the usage of experimental animals and human subjects in their research work should seek approval from the appropriate Institutional Animal Ethics Committee in accordance with "Principles of Laboratory Animal Care". The material and methods section of the manuscript should include a statement to prove that the investigation was approved and that informed consent was obtained.</p>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <h2 style="font-family: para; font-weight: 600;" class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] text-[#025a6c]">PUBLICATION MALPRACTICE</h2>
              <p style="font-weight: 500;" class="text-black mt-[2vh] text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] ">The WJAPS is committed to upholding the highest standards of publication ethics and takes all possible measures against any publication malpractices. All authors submitting their works to the WJAPS journal for publication as original articles attest that the submitted works represent their authors’ contributions and have not been copied or plagiarized in whole or in part from other works. The authors acknowledge that they have disclosed all and any actual or potential conflicts of interest with their work or partial benefits associated with it. In the same manner, the WJAPS journal is committed to objective and fair double-blind peer-review of the submitted for publication works and to prevent any actual or potential conflict of interests between the editorial and review personnel and the reviewed material. Any departures from the above-defined rules should be reported directly to the Editors-in-Chief, who is unequivocally committed to providing swift resolutions to any of such a type of problems.</p>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <h2 style="font-family: para; font-weight: 600;" class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] text-[#025a6c]">AUTHORSHIP</h2>
              <p style="font-weight: 500;" class="text-black mt-[2vh] text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] ">A manuscript will be considered for the publication based on the below understanding:</p>
              <div class="xl:mt-[3.5vh] mt-2">
                  <ul class="flex flex-col gap-2 mt-2">
                      <li class="flex text-[2.9vw] md:text-[1.3vw] xl:text-[2vh] ">
                        <img class=" mt-[4px] mr-2 lg:w-[2vh] lg:h-[2vh] h-[1vh] w-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                        All named authors should agree to its submission
                    </li>
                    <li class="flex text-[2.9vw] md:text-[1.3vw] xl:text-[2vh] ">
                      <img class=" mt-[4px] mr-2 lg:w-[2vh] lg:h-[2vh] h-[1vh] w-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                      It is not currently being considered for the publication by another journal
                      If the paper is accepted, it will not be subsequently published in the same or similar form in any language without the consent of publishers Any changes to the author list after submission, viz., a change in the order of the authors, deletion or addition of the authors needs to be approved by a signed letter from each author.
                  </li>
                  </ul>
              </div>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <h2 style="font-family: para; font-weight: 600;" class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] text-[#025a6c]">COPYRIGHT</h2>
              <p style="font-weight: 500;" class="text-black mt-[2vh] text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] ">Submission of the manuscript represents that the manuscript has not been published previously and is not considered for publication elsewhere. Authors would be required to sign a Copy Right Transfer Agreement Form once the manuscript is accepted.</p>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <h2 style="font-family: para; font-weight: 600;" class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] text-[#025a6c]">GALLEY PROOFS</h2>
              <p style="font-weight: 500;" class="text-black mt-[2vh] text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] ">Unless indicated otherwise, galley proofs are sent to the address given for correspondence. It is the responsibility of the corresponding author to ensure that the galley proofs are returned without delay.</p>
            </div>
            <div class="elements xl:mt-[3.5vh] mt-2">
              <h2 style="font-family: para; font-weight: 600;" class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] text-[#025a6c]">PRIVACY STATEMENT</h2>
              <p style="font-weight: 500;" class="text-black mt-[2vh] text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] ">The names and email addresses entered in this journal site will be used exclusively for the stated purposes of this journal and will not be made available for any other purpose or to any other party.</p>
            </div>
          </div>
           
     </div>
      <%- include('./partials/sidebar',{news});%>
       </div>
       <div class="flex flex-wrap p-3"> 
  
  
      <div class="w-full transition-transform duration-0.2 ease hover:scale-[1.03] cursor-pointer sm:w-1/2 md:w-1/3 flex flex-col p-3">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
          <div class="bg-cover xl:h-48 max-xl:py-5 flex items-center justify-center bg-[#058ECB]">
            <h6 class="xl:text-[2.5vw] md:text-[2vw] text-[6vw] capitalize text-center text-white font-bold">Call for papers</h6>
          </div>
          <div class="p-4 flex-1 flex flex-col">
            <h3 class="mb-4 xl:text-2xl md:text-[1.7vw] text-[5vw] text-center font-bold">24x7 working</h3>

            <a href="/manuscript-submission" class="bg-[#058ECB] p-2 xl:text-2xl md:text-[1.7vw] text-[3vw] hover:text-red uppercase no-underline tracking-wide mx-auto text-white font-bold uppercase">submit today</a>
          </div>
        </div>  
      </div>
      
      <div class="w-full  transition-transform duration-0.2 ease hover:scale-[1.03] cursor-pointer sm:w-1/2 md:w-1/3 flex flex-col p-3">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
          <div class="bg-cover xl:h-48 max-xl:py-5 flex items-center justify-center bg-[#82B26C]">
            <h6 class="xl:text-[2.5vw] md:text-[2vw] text-[6vw] capitalize text-center text-white font-bold">Notification of acceptance</h6>
          </div>
          <div class="p-4 flex-1 flex flex-col">
            <h3 class="mb-4 xl:text-2xl md:text-[1.7vw] text-[5vw] text-center font-bold">Within 24 hours</h3>

            <a href="/manuscript-submission" class="bg-[#82B26C] p-2 xl:text-2xl md:text-[1.7vw] text-[3vw] hover:text-red uppercase no-underline tracking-wide mx-auto text-white font-bold uppercase">submit today</a>
          </div>
        </div>  
      </div>
      <div class="w-full  transition-transform duration-0.2 ease hover:scale-[1.03] cursor-pointer sm:w-1/2 md:w-1/3 flex flex-col p-3">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
          <div class="bg-cover xl:h-48 max-xl:py-5 flex items-center justify-center bg-[#058ECB]">
            <h6 class="xl:text-[2.5vw] md:text-[2vw] text-[6vw] capitalize text-center text-white font-bold">E-certificates</h6>
          </div>
          <div class="p-4 flex-1 flex flex-col">
            <h3 class="mb-4 xl:text-2xl md:text-[1.7vw] text-[5vw] text-center font-bold">Within 04 hours</h3>

            <a href="/manuscript-submission" class="bg-[#058ECB] p-2 xl:text-2xl md:text-[1.7vw] text-[3vw] hover:text-red uppercase no-underline tracking-wide mx-auto text-white font-bold uppercase">submit today</a>
          </div>
        </div>  
      </div>
      
     
        
    </div>
    <div class="relative max-md:hidden w-[95%] m-auto md:h-[10vw] max-md:h-[15vh] my-3 items-center flex border-[1.3px] border-black">
      <%- include('./partials/scroller',{indexings}); %>
    </div>
       <div class="relative md:hidden w-[85%] m-auto md:h-[20vh] max-md:h-[15vh] my-3 items-center flex border-[1.3px] border-black">
        <%- include('./partials/resscroller',{indexings}); %>
      </div>
   
     </div>
    
       <%- include('./partials/footerfrontend',{visit}); %>
    </div>
   </div>
<%- include('./partials/footer'); %>
