<%- include('./partials/header'); %>
<%- include('./partials/menu',{formattedDateTime}); %>
<div class="parent w-full h-fit  bg-[#FAE8DC] flex  items-center justify-center">
    <div class="child max-md:w-full md:w-[80%] h-fit  bg-white shadow-md	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);">
     <div class="hero w-full  h-fit ">
       <div class="flex flex-col px-2 md:flex-row">
        <div class="left-content max-md:w-full    max-md:px-2 md:w-[75%] pl-[3vh] pt-[5vh] h-full ">
          <div class="topup"> 
            <h1 style="font-family: head1; letter-spacing: 2px;" class="text-[3.5vw] md:text-[3vw] text-[#025a6c] font-extrabold mb-3">About us</h1>
            <hr class="h-[2px] bg-zinc-400">
            <p style="font-weight: 500;" class="text-black xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] mt-6">
             <span class="text-[#025a6c] font-semibold text-[3.5vw] xl:text-[2.5vh] md:text-[2vw]"> World Journal of Advance Pharmaceutical Sciences (WJAPS)</span> brings a whiff of fresh ideas based on scholarly research topics for all those who want to learn and share information pertaining to the pharmaceutical industry. From research-based articles to scholarly reviews to short communication to case studies, WJAPS is a powerhouse of in-depth information related to the pharmaceutical industry. WJAPS has a holistic approach to covering every aspect of the pharmaceutical industry in original and authentic detail. The journal is the best pharmacy journal in India to publish your pharmaceutical research work.            </p>
             <p  style="font-weight: 500;" class="text-black xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] mt-6">Do your research, and if you’re looking for useful reference then look to WJAPS as your friendly partner. You will get more than you expect. It is not just an online source for information but an institution in itself because it is committed to the betterment of the society!</p>
             <p  style="font-weight: 500;" class="text-black xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] mt-6">WJAPS publishes the full length manuscripts (Original research and review articles, mini-reviews, short communication, case reports) on original work, either experimental or theoretical in the following areas.</p>
          </div>
          <div class="container mx-auto px-4 py-8">
            <h1 class="text-center text-2xl font-bold mb-6">Areas of Research</h1>
            <div class="overflow-x-auto">
              <table class="min-w-full table-auto border-collapse border border-gray-300 bg-white">
                <thead>
                  <tr class="bg-gray-200">
                    <th class="border border-gray-300 px-4 py-2 text-left">Medical Sciences</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Biological Sciences</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Pharmaceutical Sciences</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2">Pharmacology</td>
                    <td class="border border-gray-300 px-4 py-2">Biotechnology</td>
                    <td class="border border-gray-300 px-4 py-2">Pharmaceutics</td>
                  </tr>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2">Endocrinology</td>
                    <td class="border border-gray-300 px-4 py-2">Cell Biology</td>
                    <td class="border border-gray-300 px-4 py-2">Novel drug delivery system</td>
                  </tr>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2">Anatomy</td>
                    <td class="border border-gray-300 px-4 py-2">Molecular Biology</td>
                    <td class="border border-gray-300 px-4 py-2">Pharmacology</td>
                  </tr>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2">Neurology</td>
                    <td class="border border-gray-300 px-4 py-2">Genetics</td>
                    <td class="border border-gray-300 px-4 py-2">Molecular Pharmacology</td>
                  </tr>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2">Dermatology</td>
                    <td class="border border-gray-300 px-4 py-2">Microbiology</td>
                    <td class="border border-gray-300 px-4 py-2">Analytical Chemistry</td>
                  </tr>
                
                  <tr>
                    <td class="border border-gray-300 px-4 py-2">Haematology</td>
                    <td class="border border-gray-300 px-4 py-2">Biochemistry   </td>
                    <td class="border border-gray-300 px-4 py-2">
                        Organic Chemistry
                    </td>
                  </tr>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2">Nephrology</td>
                    <td class="border border-gray-300 px-4 py-2">
                        Immunology</td>
                    <td class="border border-gray-300 px-4 py-2">
                  Medicinal Chemistry
                    </td>
                  </tr>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2">Gynecology</td>
                    <td class="border border-gray-300 px-4 py-2">Veterinary Science</td>
                    <td class="border border-gray-300 px-4 py-2">Natural Chemistry</td>
                  </tr>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2">Ophthalmology</td>
                    <td class="border border-gray-300 px-4 py-2">Botany</td>
                    <td class="border border-gray-300 px-4 py-2">Pharmaceutical Biotechnology</td>
                  </tr>
                  
                  
                  
                  
                  <tr>
                    <td class="border border-gray-300 px-4 py-2">Pediatrics</td>
                    <td class="border border-gray-300 px-4 py-2">Zoology</td>
                    <td class="border border-gray-300 px-4 py-2">Pharmacy practice</td>
                  </tr>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2">Tropical diseases</td>
                    <td class="border border-gray-300 px-4 py-2">Cytology</td>
                    <td class="border border-gray-300 px-4 py-2">Pharmacogenomics</td>
                  </tr>                  
                  <tr>
                    <td class="border border-gray-300 px-4 py-2">Radiology</td>
                    <td class="border border-gray-300 px-4 py-2">Poultry Science</td>
                    <td class="border border-gray-300 px-4 py-2">Clinical Pharmacy</td>
                  </tr>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2">Tropical diseases</td>
                    <td class="border border-gray-300 px-4 py-2">Fishery Science</td>
                    <td class="border border-gray-300 px-4 py-2">Polymer Sciences</td>
                  </tr>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2">General Medicine</td>
                    <td class="border border-gray-300 px-4 py-2">Marine Biology</td>
                    <td class="border border-gray-300 px-4 py-2">Pharmaceutical Analysis</td>
                  </tr>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2">Public health & hygiene</td>
                    <td class="border border-gray-300 px-4 py-2">Wildlife Biology</td>
                    <td class="border border-gray-300 px-4 py-2"> Drug Regulator Affairs</td>
                  </tr>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2">Medical Biotechnology</td>
                    <td class="border border-gray-300 px-4 py-2">Biostatistics</td>
                    <td class="border border-gray-300 px-4 py-2">Pharmacovigilance</td>
                  </tr>
                 
                  
             
                  
                 
                  
                  <tr>
                    <td class="border border-gray-300 px-4 py-2">Case Study</td>
                    <td class="border border-gray-300 px-4 py-2">Environmental Sciences</td>
                    <td class="border border-gray-300 px-4 py-2">Hospital and clinical Pharmacy</td>
                  </tr>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2">Clinical Trials</td>
                    <td class="border border-gray-300 px-4 py-2">Ecology & Environmental</td>
                    <td class="border border-gray-300 px-4 py-2">
                        Nanotechnology
                    </td>
                  </tr>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2">Dentistry</td>
                    <td class="border border-gray-300 px-4 py-2">Biology</td>
                    <td class="border border-gray-300 px-4 py-2">
                        Pharmacognosy & Phytochemistry
                    </td>
                  </tr>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2">Orthopedics</td>
                    <td class="border border-gray-300 px-4 py-2"></td>
                    <td class="border border-gray-300 px-4 py-2">  Pharmaceutical Chemistry</td>
                  </tr>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2"> Organ transplantation</td>
                    <td class="border border-gray-300 px-4 py-2"></td>
                    <td class="border border-gray-300 px-4 py-2"></td>
                  </tr>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2"> Oncology</td>
                    <td class="border border-gray-300 px-4 py-2"></td>
                    <td class="border border-gray-300 px-4 py-2"></td>
                  </tr>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2"> Pathology</td>
                    <td class="border border-gray-300 px-4 py-2"></td>
                    <td class="border border-gray-300 px-4 py-2"></td>
                  </tr>
                
 
                  
                  
                  
                  
                  
                  
                  
                  
                  <!-- Add more rows as needed -->
                </tbody>
              </table>
            </div>
          </div>
          <!-- <h3 class=" sm:text-[2.8vw] xl:text-[3vh] font-medium text-center"></h3> -->
          <div class="container mx-auto px-4 py-8">
            <h1 class="text-center text-2xl font-bold mb-6 text-[#025a6c]">Journal Particulars</h1>
            <div class="overflow-x-auto">
              <table class="min-w-full table-auto border-collapse border border-gray-300 bg-white">
                <tbody>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2 font-medium text-[#025A6C]"> Title</td>
                    <td class="border border-gray-300 px-4 py-2">World Journal of Advance Pharmaceutical Sciences</td>
                  </tr>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2 font-medium text-[#025A6C]"> Frequency</td>
                    <td class="border border-gray-300 px-4 py-2">Bimonthly</td>
                  </tr>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2 font-medium text-[#025A6C]">ISSN</td>
                    <td class="border border-gray-300 px-4 py-2"></td>
                  </tr>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2 font-medium text-[#025A6C]">Publisher</td>
                    <td class="border border-gray-300 px-4 py-2">World Journal of Advance Pharmaceutical Sciences</td>
                  </tr>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2 font-medium text-[#025A6C]">Chief Editor</td>
                    <td class="border border-gray-300 px-4 py-2"></td>
                  </tr>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2 font-medium text-[#025A6C]">Copyright</td>
                    <td class="border border-gray-300 px-4 py-2">World Journal of Advance Pharmaceutical Sciences</td>
                  </tr>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2 font-medium text-[#025A6C]">Starting Year</td>
                    <td class="border border-gray-300 px-4 py-2">2024</td>
                  </tr>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2 font-medium text-[#025A6C]">Subject</td>
                    <td class="border border-gray-300 px-4 py-2">Multidisciplinary Subjects</td>
                  </tr>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2 font-medium text-[#025A6C]">Language</td>
                    <td class="border border-gray-300 px-4 py-2">English</td>
                  </tr>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2 font-medium text-[#025A6C]">Publication Format</td>
                    <td class="border border-gray-300 px-4 py-2">Online</td>
                  </tr>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2 font-medium text-[#025A6C]">Email Id</td>
                    <td class="border border-gray-300 px-4 py-2">editor@wjaps.com  or wjapsjournal@gmail.com</td>
                  </tr>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2 font-medium text-[#025A6C]">Website</td>
                    <td class="border border-gray-300 px-4 py-2">www.wjaps.com</td>
                  </tr>
                  <tr>
                    <td class="border border-gray-300 px-4 py-2 font-medium text-[#025A6C]">Address</td>
                    <td class="border border-gray-300 px-4 py-2">India.</td>
                  </tr>
                  
                  
                  
                  
                  
                  
                  
                  
                  <!-- Add more rows as needed -->
                </tbody>
              </table>
            </div>
          </div> 
          <div class="topup"> 
            <h1 style="font-family: head1; letter-spacing: 2px;" class="text-[3vw] md:text-[2.5vw] text-[#025a6c] font-extrabold mb-3">Disclaimer</h1>
            <hr class="h-[2px] bg-zinc-400">
            <p style="font-weight: 500;" class="text-black xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] mt-6">
                The author(s) of each article appearing in this Journal is/are solely responsible for the content thereof; neither the WJAPS nor its editors or publisher nor anyone else involved in creating, producing, or distribution assumes any liability or responsibility for the accuracy, completeness, correctness or usefulness of any information provided in the Journal, nor shall they be liable for any direct, indirect, incidental, special, consequential or punitive damages arising out of the use of the WJAPS. The journal remains neutral concerning the jurisdictional claims in published institutional affiliations.     </p>
          </div>
    </div>
      <%- include('./partials/sidebar',{news});%>
       </div>
       <div class="flex flex-wrap p-3"> 
  
  
      <div class="w-full transition-transform duration-0.2 ease hover:scale-[1.03] cursor-pointer sm:w-1/2 md:w-1/3 flex flex-col p-3">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
          <div class="bg-cover xl:h-48 max-xl:py-5 flex items-center justify-center bg-[#058ECB]">
            <h6 class="xl:text-[2.5vw] md:text-[2vw] text-[6vw] capitalize text-center text-white font-bold">Call for papers</h6>
          </div>
          <div class="p-4 flex-1 flex flex-col">
            <h3 class="mb-4 xl:text-2xl md:text-[1.7vw] text-[5vw] text-center font-bold">24x7 working</h3>

            <a href="/manuscript-submission" class="bg-[#058ECB] p-2 xl:text-2xl md:text-[1.7vw] text-[3vw] hover:text-red uppercase no-underline tracking-wide mx-auto text-white font-bold uppercase">submit today</a>
          </div>
        </div>  
      </div>
      
      <div class="w-full  transition-transform duration-0.2 ease hover:scale-[1.03] cursor-pointer sm:w-1/2 md:w-1/3 flex flex-col p-3">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
          <div class="bg-cover xl:h-48 max-xl:py-5 flex items-center justify-center bg-[#82B26C]">
            <h6 class="xl:text-[2.5vw] md:text-[2vw] text-[6vw] capitalize text-center text-white font-bold">Notification of acceptance</h6>
          </div>
          <div class="p-4 flex-1 flex flex-col">
            <h3 class="mb-4 xl:text-2xl md:text-[1.7vw] text-[5vw] text-center font-bold">Within 24 hours</h3>

            <a href="/manuscript-submission" class="bg-[#82B26C] p-2 xl:text-2xl md:text-[1.7vw] text-[3vw] hover:text-red uppercase no-underline tracking-wide mx-auto text-white font-bold uppercase">submit today</a>
          </div>
        </div>  
      </div>
      <div class="w-full  transition-transform duration-0.2 ease hover:scale-[1.03] cursor-pointer sm:w-1/2 md:w-1/3 flex flex-col p-3">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
          <div class="bg-cover xl:h-48 max-xl:py-5 flex items-center justify-center bg-[#058ECB]">
            <h6 class="xl:text-[2.5vw] md:text-[2vw] text-[6vw] capitalize text-center text-white font-bold">E-certificates</h6>
          </div>
          <div class="p-4 flex-1 flex flex-col">
            <h3 class="mb-4 xl:text-2xl md:text-[1.7vw] text-[5vw] text-center font-bold">Within 04 hours</h3>

            <a href="/manuscript-submission" class="bg-[#058ECB] p-2 xl:text-2xl md:text-[1.7vw] text-[3vw] hover:text-red uppercase no-underline tracking-wide mx-auto text-white font-bold uppercase">submit today</a>
          </div>
        </div>  
      </div>
      
     
        
    </div>
    <div class="relative max-md:hidden w-[95%] m-auto md:h-[10vw] max-md:h-[15vh] my-3 items-center flex border-[1.3px] border-black">
      <%- include('./partials/scroller',{indexings}); %>
    </div>
       <div class="relative md:hidden w-[85%] m-auto md:h-[20vh] max-md:h-[15vh] my-3 items-center flex border-[1.3px] border-black">
        <%- include('./partials/resscroller',{indexings}); %>
      </div>
   
     </div>
    
       <%- include('./partials/footerfrontend',{visit}); %>
    </div>
   </div>
<%- include('./partials/footer'); %>
