<%- include('./partials/header'); %>
<%- include('./partials/menu',{formattedDateTime}); %>
<div class="parent w-full h-fit  bg-[#FAE8DC] flex   items-center justify-center">

 <div class="child max-md:w-full md:w-[80%] h-fit  bg-white shadow-md	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); ">
  <div class="hero w-full  h-fit ">
    <div class="w-[95%]  flex-col  mx-auto md:h-[7vw] min-h-[10vw] bg-[#82B26C] my-2 flex items-center justify-center">
     <h3 class="myClass capitalize tlt mt-2 text-white xl:text-[3.5vw] md:text-[4vw] text-[6vw] font-extrabold">
      <ul class="myTexts capitalize tlt mt-2 text-white xl:text-[3.5vw] md:text-[4vw] text-[6vw] font-extrabold">
        <h1 data-in-effect="bounceIn" data-out-effect="bounceOut" class="capitalize tlt mt-2 text-white xl:text-[3.5vw] md:text-[4vw] text-[6vw] font-extrabold">Publish your article today</h1>
   
      </ul>
     </h3>
         <h6 class="text-white md:text-[1.8vw] text-[2vw] lg:text-[1.3vw] mb-2">World Journal of Advance
        Pharmaceutical Sciences</h6>
    </div>
    <div class="flex flex-col px-2 md:flex-row">
      <div class="left-content max-md:w-full    max-md:px-2 md:w-[75%] pl-[3vh] pt-[5vh] h-full ">
       
        <div class="topup"> 
          <h6 style="font-family: head1; letter-spacing: 2px;" class="text-[3.5vw] md:text-[3vw] text-[#025a6c] font-extrabold mb-3">WELCOME TO WJAPS</h6>
          <hr class="h-[2px] bg-zinc-400">
          <p style="font-weight: 600;" class="text-black xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw]  mt-6">
            The Journal welcomes the original research articles, review, short communications and case studies relevant to the various fields of Pharmaceutical Sciences such as; Pharmaceutics, Pharmaceutical Technology, Biopharmaceutics, Pharmaceutical Chemistry, Pharmaceutical Analysis and Quality Assurance, Medicinal Chemistry, Medical Science, Pharmacology and Toxicology, Pharmacy Practice includes Hospital Community and Clinical Pharmacy, Pharmacognosy and Phytochemistry, Pharmaceutical Microbiology and Biotechnology, Regulatory Affairs and Pharmaceutical Marketing Research, and Alternative Medicines.</p>
        </div>
        <div class="mid xl:my-[5vh] mt-2">
          <h6 style="font-family: para; font-weight: 600;" class="text-[#025a6c] text-[3.5vw] md:text-[2vw] md:text-[1.3vw] xl:text-[2.5vh] font-medium">The Features of WJAPS</h6>
          <h3 class="xl:text-[2.3vh] text-[2.9vw] md:text-[1.3vw] flex items-center gap-2"><img class="md:h-[1.5vw] md:w-[1.5vw] w-[2.9vw] h-[2.9vw] object-center object-cover" src="/images/icons/icons8-tick-50.png" alt=""> Direct link to abstract on each article</h3>
          <h3 class="xl:text-[2.3vh] text-[2.9vw] md:text-[1.3vw] flex items-center gap-2"><img class="md:h-[1.5vw] md:w-[1.5vw] w-[2.9vw] h-[2.9vw] object-center object-cover" src="/images/icons/icons8-tick-50.png" alt=""> Open access to all researchers</h3>
          <h3 class="xl:text-[2.3vh] text-[2.9vw] md:text-[1.3vw] flex items-center gap-2"><img class="md:h-[1.5vw] md:w-[1.5vw] w-[2.9vw] h-[2.9vw] object-center object-cover" src="/images/icons/icons8-tick-50.png" alt=""> Statistics of each article as no of times it viewed and downloaded</h3>
          <h3 class="xl:text-[2.3vh] text-[2.9vw] md:text-[1.3vw] flex items-center gap-2"><img class="md:h-[1.5vw] md:w-[1.5vw] w-[2.9vw] h-[2.9vw] object-center object-cover" src="/images/icons/icons8-tick-50.png" alt=""> Proper peer review process </h3>
          <h3 class="xl:text-[2.3vh] text-[2.9vw] md:text-[1.3vw] flex items-center gap-2"><img class="md:h-[1.5vw] md:w-[1.5vw] w-[2.9vw] h-[2.9vw] object-center object-cover" src="/images/icons/icons8-tick-50.png" alt=""> Fast publication process </h3>
          <h3 class="xl:text-[2.3vh] text-[2.9vw] md:text-[1.3vw] flex items-center gap-2"><img class="md:h-[1.5vw] md:w-[1.5vw] w-[2.9vw] h-[2.9vw] object-center object-cover" src="/images/icons/icons8-tick-50.png" alt=""> Post-publishing work like indexing of each article to different database </h3>
          <h3 class="xl:text-[2.3vh] text-[2.9vw] md:text-[1.3vw] flex items-center gap-2"><img class="md:h-[1.5vw] md:w-[1.5vw] w-[2.9vw] h-[2.9vw] object-center object-cover" src="/images/icons/icons8-tick-50.png" alt=""> Complete statistics of Every issue will be display on the same date of issue releasing </h3>
        </div>
        <div class="mid-center">
          <div class="elements xl:mt-[3.5vh] mt-2">
            <h2 style="font-family: para; font-weight: 600;" class="xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] text-[#025a6c]">Peer Review Policy</h2>
            <p style="font-weight: 600;" class="text-black mt-[2vh] xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] ">After the submission of new manuscript each manuscript undergoes peer-review process. When the editorial office receives a new submission, the editorial staff then performs an initial assessment of the manuscript to determine its topical relevance, adherence to the formatting guidelines, and absence of plagiarism in both textual and scientific content. If the manuscript passes this initial assessment, it is forwarded for peer review process.</p>
          </div>
          <div class="elements xl:mt-[3.5vh] mt-2">
            <h2 style="font-family: para; font-weight: 600;" class="xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] text-[#025a6c]">Open Access</h2>
            <p style="font-weight: 600;" class="text-black mt-[2vh] xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] ">WJAPS supports open access publication for each article. Thus, readers of the journal are allowed immediate access to the contents of research articles published by the journal without paying a subscription fee. Manuscripts submitted for publication in an open access journal are subject to the same rigorous peer-review and quality control as in scholarly subscription journals.</p>
          </div>
          <div class="elements xl:mt-[3.5vh] mt-2">
            <h2 style="font-family: para; font-weight: 600;" class="xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] text-[#025a6c]">Privacy Statement</h2>
            <p style="font-weight: 600;" class="text-black mt-[2vh] xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] ">The names and email addresses entered in this journal site will be used exclusively for the stated purposes of this journal and will not be made available for any other purpose or to any other party.</p>
          </div>
        </div>
        <div class="bottom xl:mt-[2.5vh] mt-2">
          <h2 style="font-family: para; font-weight: 600;" class="xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] text-[#025a6c]">Multidisciplinary Journal with broad scope of subjects</h2>
          <div class="children xl:mt-[3vh] mt-2">
            <h4 style=" font-weight: 600;" class="text-[#025a6c] text-[2.9vw] md:text-[1.3vw] xl:text-[2.5vh] ">Pharmaceutical Sciences</h4>
            <p style="font-weight: 600;" class="text-black mt-[2vh] xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] ">Pharmaceutics, Novel drug delivery system, Pharmacology, Molecular Pharmacology, Analytical Chemistry, Nanotechnology, Pharmacognosy & Phytochemistry, Pharmaceutical Chemistry, Organic Chemistry, Medicinal Chemistry, Natural Chemistry, Pharmaceutical Biotechnology, Pharmacy practice, Pharmacogenomics, Clinical Pharmacy, Polymer Sciences, Pharmaceutical Analysis, Drug Regulator Affairs, Pharmacovigilance, Hospital and clinical Pharmacy.</p>
          </div>
          <div class="children xl:mt-[3vh] mt-2">
            <h4 style=" font-weight: 600;" class="text-[#025a6c] text-[2.9vw] md:text-[1.3vw] xl:text-[2.5vh]">Medical Sciences</h4>
            <p style="font-weight: 600;" class="text-black mt-[2vh] xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] ">Pharmacology, Endocrinology, Anatomy, Neurology, Dermatology, Orthopedics, Organ transplantation, Oncology, Pathology, Haematology, Nephrology, Gynecology, Ophthalmology, Pediatrics, Tropical diseases, Radiology, Tropical diseases, General Medicine, Public health & hygiene, Medical Biotechnology, Case Study, Clinical Trials, Dentistry.</p>
          </div>
          <div class="children xl:mt-[3vh] mt-2">
            <h4 style=" font-weight: 600;" class="text-[#025a6c] text-[2.9vw] md:text-[1.3vw] xl:text-[2.5vh]">Biological Sciences</h4>
            <p style="font-weight: 600;" class="text-black mt-[2vh] xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] ">Biotechnology, Cell Biology, Molecular Biology, Genetics, Microbiology, Biochemistry, Immunology, Veterinary Science, Botany, Zoology, Cytology, Poultry Science, Fishery Science, Marine Biology, Wildlife Biology, Biostatistics, Environmental Sciences, Ecology & Environmental Biology.</p>
          </div>
          <p style="font-weight: 600;" class="text-black xl:text-[2.2vh] text-[2.9vw] md:text-[1.3vw] mt-[2vh]">The Journal particularly aims to foster the dissemination of scientific information by publishing manuscripts related to current Pharmaceutical Drug Delivery and related fields. We started with a Mission to encourage contribution to Research in Sciences & Technology for achieving better future lives for all. We serve Science & Mankind at the highest levels of Professional Ethical Conduct.</p>
        </div>
     </div>
   <%- include('./partials/sidebar',{news});%>
    </div>
   
     <div class="flex flex-wrap p-3"> 
  
  
      <div class="w-full transition-transform duration-0.2 ease hover:scale-[1.03] cursor-pointer sm:w-1/2 md:w-1/3 flex flex-col p-3">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
          <div class="bg-cover xl:h-48 max-xl:py-5 flex items-center justify-center bg-[#058ECB]">
            <h6 class="xl:text-[2.5vw] md:text-[2vw] text-[6vw] capitalize text-center text-white font-bold">Call for papers</h6>
          </div>
          <div class="p-4 flex-1 flex flex-col">
            <h3 class="mb-4 xl:text-2xl md:text-[1.7vw] text-[5vw] text-center font-bold">24x7 working</h3>

            <a href="/manuscript-submission" class="bg-[#058ECB] p-2 xl:text-2xl md:text-[1.7vw] text-[3vw] hover:text-red uppercase no-underline tracking-wide mx-auto text-white font-bold uppercase">submit today</a>
          </div>
        </div>  
      </div>
      
      <div class="w-full  transition-transform duration-0.2 ease hover:scale-[1.03] cursor-pointer sm:w-1/2 md:w-1/3 flex flex-col p-3">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
          <div class="bg-cover xl:h-48 max-xl:py-5 flex items-center justify-center bg-[#82B26C]">
            <h6 class="xl:text-[2.5vw] md:text-[2vw] text-[6vw] capitalize text-center text-white font-bold">Notification of acceptance</h6>
          </div>
          <div class="p-4 flex-1 flex flex-col">
            <h3 class="mb-4 xl:text-2xl md:text-[1.7vw] text-[5vw] text-center font-bold">Within 24 hours</h3>

            <a href="/manuscript-submission" class="bg-[#82B26C] p-2 xl:text-2xl md:text-[1.7vw] text-[3vw] hover:text-red uppercase no-underline tracking-wide mx-auto text-white font-bold uppercase">submit today</a>
          </div>
        </div>  
      </div>
      <div class="w-full  transition-transform duration-0.2 ease hover:scale-[1.03] cursor-pointer sm:w-1/2 md:w-1/3 flex flex-col p-3">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
          <div class="bg-cover xl:h-48 max-xl:py-5 flex items-center justify-center bg-[#058ECB]">
            <h6 class="xl:text-[2.5vw] md:text-[2vw] text-[6vw] capitalize text-center text-white font-bold">E-certificates</h6>
          </div>
          <div class="p-4 flex-1 flex flex-col">
            <h3 class="mb-4 xl:text-2xl md:text-[1.7vw] text-[5vw] text-center font-bold">Within 04 hours</h3>

            <a href="/manuscript-submission" class="bg-[#058ECB] p-2 xl:text-2xl md:text-[1.7vw] text-[3vw] hover:text-red uppercase no-underline tracking-wide mx-auto text-white font-bold uppercase">submit today</a>
          </div>
        </div>  
      </div>
      
     
        
    </div>
    <div class="relative max-md:hidden w-[95%] m-auto md:h-[10vw] max-md:h-[15vh] my-3 items-center flex border-[1.3px] border-black">
      <%- include('./partials/scroller',{indexings}); %>
    </div>
    <div class="relative md:hidden w-[85%] m-auto md:h-[20vh] max-md:h-[15vh] my-3 items-center flex border-[1.3px] border-black">
     <%- include('./partials/resscroller',{indexings}); %>
   </div>

  </div>
 
    <%- include('./partials/footerfrontend',{visit}); %>
 </div>
</div>
<%- include('./partials/footer'); %>
