<%- include('./partials/header'); %>
<%- include('./partials/menu',{formattedDateTime}); %>
<div class="parent w-full h-fit  bg-[#FAE8DC] flex  items-center justify-center">
    <div class="child max-md:w-full md:w-[80%] h-fit  bg-white shadow-md	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);">
     <div class="hero w-full  h-fit ">
       <div class="flex flex-col px-2 md:flex-row">
         <div class="flex flex-col items-center left-content max-md:w-full    max-md:px-2 md:w-[75%] pl-[3vh] pt-[5vh] h-full ">
        <div>
            <div class="topup"> 
                <h1 style="font-family: head1; letter-spacing: 2px;" class="text-[3.5vw] md:text-[3vw] text-[#025a6c] font-extrabold mb-3">JOIN AS REVIEWERS</h1>
                <hr class="h-[2px] bg-zinc-400">
                <p style="font-weight: 600;" class="text-black text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] mt-6">
                    We welcome applications to join the Reviewers Committee. We would be pleased to accept services of experts in various fields of Pharmacy i.e. Pharmaceutics, Pharmaceutical Technology, Biopharmaceutics, Pharmaceutical Chemistry, Pharmaceutical Analysis and Quality Assurance, Medicinal Chemistry, Pharmacology and Toxicology, Pharmacy Practice includes Hospital Community and Clinical Pharmacy, Pharmacognosy and Phytochemistry, Pharmaceutical Microbiology and Biotechnology, Regulatory Affairs and Pharmaceutical Marketing Research, and Alternative Medicines as reviewers.
                 </p>
              </div>
              <div class="mid-center">
                <div class="elements mt-[3.5vh]">
                    <h2 class="text-[2.4vh] text-[#025A6C] font-bold">WJAPS Policy on Selection of Editorial Board Members</h2>
                    <h2 style="font-family: para; font-weight: 600;" class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] mt-2 text-black font-extrabold">Editorial Board Members are selected on following parameters:-</h2>
                  <ul class="flex flex-col gap-4 mt-2">
                      <li class="flex">
                          <img class="mt-[4px] mr-2 lg:w-[2vh] w-[1vh] h-[1vh] lg:h-[2vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                          His / her expertise in research area.
                      </li>
                      <li class="flex ">
                          <img class="mt-[4px] mr-2 lg:w-[2vh] w-[1vh] h-[1vh] lg:h-[2vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                          Experience (Not less than five years academic / research experience).
                      </li>
                      <li class="flex">
                          <img class="mt-[4px] mr-2 lg:w-[2vh] w-[1vh] h-[1vh] lg:h-[2vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                          Publications in the specific research area (Not less than three publications in indexed journals).
                      </li>
                      <li class="flex ">
                          <img class=" mt-[4px] mr-2 lg:w-[2vh] w-[1vh] h-[1vh] lg:h-[2vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                          Past record on evaluation quality and timeliness.
                          </li>
                      <li class="flex">
                          <img class="mt-[4px] mr-2 lg:w-[2vh] w-[1vh] h-[1vh] lg:h-[2vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                          List of reviewers is maintained and updated frequently
                         </li>
                
                  </ul>
                </div>
              </div>
              <div class="topup"> 
                <p style="font-weight: 600;" class="text-black text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] mt-6">
                    Please note that the acceptance of your application will be at the sole discretion of the editor. You have to fill the Join Us Application Form and send it to <span class="font-bold text-[#025A6C]">editor@wjaps.com </span> or <span class="font-bold text-[#025A6C]">wjapsjournal@gmail.com</span> along with your Curriculum Vitae(CV) and Photo. Please allow 2-3 weeks for processing your application.
                    <a class="bg-gray-400 hover:scale-[1.03]   hover:bg-[#025A6C] transition-transform duration-0.2 ease text-white block mt-2 font-medium md:text-[2vw] text-[4vw] xl:text-[2.4vh] w-fit px-3 xl:w-[50vh] py-3 capitalize rounded-md" href="https://ik.imagekit.io/o5bixndeo/BECOME%20A%20REVIEWER.pdf?updatedAt=1732992154003">
                      join as reviewer (pdf)
                   </a>
                </p>
              </div>
     </div>
        </div>
      <%- include('./partials/sidebar',{news});%>
       </div>
       <div class="flex flex-wrap p-3"> 
  
  
      <div class="w-full transition-transform duration-0.2 ease hover:scale-[1.03] cursor-pointer sm:w-1/2 md:w-1/3 flex flex-col p-3">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
          <div class="bg-cover xl:h-48 max-xl:py-5 flex items-center justify-center bg-[#058ECB]">
            <h6 class="xl:text-[2.5vw] md:text-[2vw] text-[6vw] capitalize text-center text-white font-bold">Call for papers</h6>
          </div>
          <div class="p-4 flex-1 flex flex-col">
            <h3 class="mb-4 xl:text-2xl md:text-[1.7vw] text-[5vw] text-center font-bold">24x7 working</h3>

            <a href="/manuscript-submission" class="bg-[#058ECB] p-2 xl:text-2xl md:text-[1.7vw] text-[3vw] hover:text-red uppercase no-underline tracking-wide mx-auto text-white font-bold uppercase">submit today</a>
          </div>
        </div>  
      </div>
      
      <div class="w-full  transition-transform duration-0.2 ease hover:scale-[1.03] cursor-pointer sm:w-1/2 md:w-1/3 flex flex-col p-3">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
          <div class="bg-cover xl:h-48 max-xl:py-5 flex items-center justify-center bg-[#82B26C]">
            <h6 class="xl:text-[2.5vw] md:text-[2vw] text-[6vw] capitalize text-center text-white font-bold">Notification of acceptance</h6>
          </div>
          <div class="p-4 flex-1 flex flex-col">
            <h3 class="mb-4 xl:text-2xl md:text-[1.7vw] text-[5vw] text-center font-bold">Within 24 hours</h3>

            <a href="/manuscript-submission" class="bg-[#82B26C] p-2 xl:text-2xl md:text-[1.7vw] text-[3vw] hover:text-red uppercase no-underline tracking-wide mx-auto text-white font-bold uppercase">submit today</a>
          </div>
        </div>  
      </div>
      <div class="w-full  transition-transform duration-0.2 ease hover:scale-[1.03] cursor-pointer sm:w-1/2 md:w-1/3 flex flex-col p-3">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
          <div class="bg-cover xl:h-48 max-xl:py-5 flex items-center justify-center bg-[#058ECB]">
            <h6 class="xl:text-[2.5vw] md:text-[2vw] text-[6vw] capitalize text-center text-white font-bold">E-certificates</h6>
          </div>
          <div class="p-4 flex-1 flex flex-col">
            <h3 class="mb-4 xl:text-2xl md:text-[1.7vw] text-[5vw] text-center font-bold">Within 04 hours</h3>

            <a href="/manuscript-submission" class="bg-[#058ECB] p-2 xl:text-2xl md:text-[1.7vw] text-[3vw] hover:text-red uppercase no-underline tracking-wide mx-auto text-white font-bold uppercase">submit today</a>
          </div>
        </div>  
      </div>
      
     
        
    </div>
    <div class="relative max-md:hidden w-[95%] m-auto md:h-[10vw] max-md:h-[15vh] my-3 items-center flex border-[1.3px] border-black">
      <%- include('./partials/scroller',{indexings}); %>
    </div>
       <div class="relative md:hidden w-[85%] m-auto md:h-[20vh] max-md:h-[15vh] my-3 items-center flex border-[1.3px] border-black">
        <%- include('./partials/resscroller',{indexings}); %>
      </div>
   
     </div>
    
       <%- include('./partials/footerfrontend',{visit}); %>
    </div>
   </div>
<%- include('./partials/footer'); %>
