<%- include('./partials/header'); %>
<%- include('./partials/menu',{formattedDateTime}); %>
<div class="parent w-full h-fit  bg-[#FAE8DC] flex  items-center justify-center">
    <div class="child max-md:w-full md:w-[80%] h-fit  bg-white shadow-md	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);">
     <div class="hero w-full  h-fit ">
       <div class="flex flex-col px-2 md:flex-row">
         <div class="flex flex-col items-center left-content max-md:w-full    max-md:px-2 md:w-[75%] pl-[3vh] pt-[5vh] h-full  ">
          <div class="head xl:w-[55vw] max-lg:p-3 xl:h-[11vh] lg:p-3 bg-[#025A6C] rounded-md flex items-center justify-center">
                <h2 class="text-white uppercase xl:text-[5vh] xl:text-[2.5vh] font-bold md:text-[2.5vw] lg:text-[4vw] text-center">Article processing charges</h2>
            </div>
            <div class="w-[90%] mt-8">
                <div class="w-full">
                 <h3 class="lg:text-[2.4vh] md:text-[1.5vw] text-[2.9vw] font-medium text-black">An author can submit a Research Paper for review freely. Only a small amount of fee is charged as Article Processing Charges for publishing the paper inWJAPS. Any one of the submitting authors can pay this fee to get the paper published after the approval for Research Paper Acceptance. Following are certain guidelines which are to be followed before making the payment:</h3>
                </div>
                <ul class="flex flex-col gap-4 mt-3">
                 <li class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] flex">
                     <img class="mt-[4px] mr-2 w-[1vh] h-[1vh] lg:w-[2vh] lg:h-[2vh] w-[1vh] h-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                     Only English language is supported byWJAPS.
                 </li>
                 <li class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] flex ">
                     <img class="mt-[3px] mr-2 lg:w-[2vh] lg:h-[2vh] w-[1vh] h-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                     Publication is fairly handled by the Research Paper Review team and the Research Paper / Manuscript can be rejected or modified by the Editor in case of violation of any standard or policy.
                 </li>
           
                
             </ul>
             <div class="mt-4 text-white">
                 <h2 class="sm:text-[3.5vw] md:text-[2vw] md:text-[2vw] xl:text-[3.7vh] bg-[#025A6C] px-2 py-1 text-[2.9vw]"> APC – Article Processing Charge includes:</h2>
                 <ul class="flex flex-col gap-4 xl:mt-5 text-black">
                     <li class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] flex">
                         <img class="mt-[4px] mr-2 lg:w-[2vh] lg:h-[2vh] w-[1vh] h-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                         Publication of one entire research paper.
                     </li>
                     <li class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] flex ">
                         <img class="mt-[3px] mr-2 lg:w-[2vh] lg:h-[2vh] w-[1vh] h-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                         Certificate of publication to authors of paper
                     </li>
                     <li class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] flex ">
                         <img class="mt-[3px] mr-2 lg:w-[2vh] lg:h-[2vh] w-[1vh] h-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                         Editorial Fee
                     </li>
                     <li class="text-[2.9vw] md:text-[1.3vw] xl:text-[2.2vh] flex ">
                         <img class="mt-[3px] mr-2 lg:w-[2vh] lg:h-[2vh] w-[1vh] h-[1vh] object-center obeject-cover " src="/images/icons/icons8-dot-50.png" alt="">
                         Indexing, maintenance of link revolvers and journal infrastructures.
                     </li>
                 </ul>
             </div>
             <div class="mt-4 text-black">
                 <h2 class="sm:text-[3.5vw] md:text-[2vw] xl:text-[3.7vh]  bg-[#025A6C] text-white px-2 py-1 text-[2.9vw]">  Article Processing Charge</h2>
                 <div class="w-full max-md:h-[30vh]  md:h-[12vw] mt-7 border-[1.2px] border-zinc-500">
                     <div class="col1  bg-[#025A6C] text-white px-4 w-full border-b-[1.2px] border-zinc-500 text-center">
                         <h2 class="py-3 xl:text-[2.5vh] text-[2.9vw] md:text-[1.3vw] font-medium">Article Processing Charge</h2>
                     </div>
                     <div class="col1 text-zinc-600 px-4 w-full border-b-[1.2px] border-zinc-500 flex justify-between">
                         <h2 class="py-3 xl:text-[2.5vh] text-[2.9vw] md:text-[1.3vw] font-medium text-[2.9vw]">For Indian Authors</h2>
                         <h2 class="py-3 xl:text-[2.5vh] text-[2.9vw] md:text-[1.3vw] font-medium text-[2.9vw]">1200 INR</h2>
                     </div>
                     <div class="col1 text-zinc-600 px-4 w-full  flex justify-between">
                         <h2 class="py-3 xl:text-[2.5vh] text-[2.9vw] md:text-[1.3vw] font-medium text-[2.9vw]" >For USA and Other Countries Authors</h2>
                         <h2 class="py-3 xl:text-[2.5vh] text-[2.9vw] md:text-[1.3vw] font-medium text-[2.9vw]  uppercase">50 usd</h2>
                     </div>
                 </div>
             </div>
             <!-- <p class="xl:mt-5 xl:text-[2.2vh] md:text-[1.3vw] text-[2.9vw] font-medium text-black mb-5">The author(s) can submit Processing fees by using International Debit or Credit Card from below given link</p> -->
             <!-- <a class="text-blue-500  xl:text-[2.5vh] md:text-[1.3vw] text-[2.9vw] font-medium mt-12" href="https://buy.stripe.com/4gwaHsacC6h99I48wy">https://buy.stripe.com/<br class="lg:hidden">4gwaHsacC6h99I48wy</a>
             <p class="font-medium  xl:text-[2.5vh] md:text-[1.3vw] text-[2.9vw]">or</p>
             <a class="text-blue-500 xl:text-[2.5vh] md:text-[1.3vw] text-[2.9vw] font-medium mt-8" href="https://www.paypal.com/ncp/payment/EV8YZBXFBV97C">https://www.paypal.com<br class="lg:hidden">/ncp/payment/<br class="lg:hidden">EV8YZBXFBV97C</a> -->
             </div>
        </div>
      <%- include('./partials/sidebar',{news});%>
       </div>
       <div class="flex flex-wrap p-3"> 
  
  
      <div class="w-full transition-transform duration-0.2 ease hover:scale-[1.03] cursor-pointer sm:w-1/2 md:w-1/3 flex flex-col p-3">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
          <div class="bg-cover xl:h-48 max-xl:py-5 flex items-center justify-center bg-[#058ECB]">
            <h6 class="xl:text-[2.5vw] md:text-[2vw] text-[6vw] capitalize text-center text-white font-bold">Call for papers</h6>
          </div>
          <div class="p-4 flex-1 flex flex-col">
            <h3 class="mb-4 xl:text-2xl md:text-[1.7vw] text-[5vw] text-center font-bold">24x7 working</h3>

            <a href="/manuscript-submission" class="bg-[#058ECB] p-2 xl:text-2xl md:text-[1.7vw] text-[3vw] hover:text-red uppercase no-underline tracking-wide mx-auto text-white font-bold uppercase">submit today</a>
          </div>
        </div>  
      </div>
      
      <div class="w-full  transition-transform duration-0.2 ease hover:scale-[1.03] cursor-pointer sm:w-1/2 md:w-1/3 flex flex-col p-3">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
          <div class="bg-cover xl:h-48 max-xl:py-5 flex items-center justify-center bg-[#82B26C]">
            <h6 class="xl:text-[2.5vw] md:text-[2vw] text-[6vw] capitalize text-center text-white font-bold">Notification of acceptance</h6>
          </div>
          <div class="p-4 flex-1 flex flex-col">
            <h3 class="mb-4 xl:text-2xl md:text-[1.7vw] text-[5vw] text-center font-bold">Within 24 hours</h3>

            <a href="/manuscript-submission" class="bg-[#82B26C] p-2 xl:text-2xl md:text-[1.7vw] text-[3vw] hover:text-red uppercase no-underline tracking-wide mx-auto text-white font-bold uppercase">submit today</a>
          </div>
        </div>  
      </div>
      <div class="w-full  transition-transform duration-0.2 ease hover:scale-[1.03] cursor-pointer sm:w-1/2 md:w-1/3 flex flex-col p-3">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
          <div class="bg-cover xl:h-48 max-xl:py-5 flex items-center justify-center bg-[#058ECB]">
            <h6 class="xl:text-[2.5vw] md:text-[2vw] text-[6vw] capitalize text-center text-white font-bold">E-certificates</h6>
          </div>
          <div class="p-4 flex-1 flex flex-col">
            <h3 class="mb-4 xl:text-2xl md:text-[1.7vw] text-[5vw] text-center font-bold">Within 04 hours</h3>

            <a href="/manuscript-submission" class="bg-[#058ECB] p-2 xl:text-2xl md:text-[1.7vw] text-[3vw] hover:text-red uppercase no-underline tracking-wide mx-auto text-white font-bold uppercase">submit today</a>
          </div>
        </div>  
      </div>
      
     
        
    </div>
    <div class="relative max-md:hidden w-[95%] m-auto md:h-[10vw] max-md:h-[15vh] my-3 items-center flex border-[1.3px] border-black">
      <%- include('./partials/scroller',{indexings}); %>
    </div>
       <div class="relative md:hidden w-[85%] m-auto md:h-[20vh] max-md:h-[15vh] my-3 items-center flex border-[1.3px] border-black">
        <%- include('./partials/resscroller',{indexings}); %>
      </div>
   
     </div>
    
       <%- include('./partials/footerfrontend',{visit}); %>
    </div>
   </div>
<%- include('./partials/footer'); %>
